# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
.DS_Store
dist
dist-ssr
coverage
*.local

# env files
.env
.env.local
.env.*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

*.tsbuildinfo
Admin Paymax (2).json
api-spec.json
test-group-endpoints.html
test-console-script.js
CREATE_GROUP_IMPLEMENTATION.md
GROUP_SERVICE_API_DOCUMENTATION.md
ADD_MEMBER_IMPLEMENTATION.md
SEND_MESSAGE_AND_REPORTS_IMPLEMENTATION.md
Bills.json
Crowdfunding .json
/VOTING_INTEGRATION_SUMMARY.md
/VOTING_ENDPOINTS_INTEGRATION.md
/vote.json
/CROWDFUNDING_INTEGRATION_REPORT.md
/API_INTEGRATION_REPORT.md